{
 "microphone": -1,
 "voice": "jarvis-og",
 "wake_word_engine": "Vosk",
 "intent_backend": "intent-classifier",
 "vad_backend": "energy",
 "gliner_model": "",
 "speech_to_text_engine": "Vosk",
 "vosk_model": "",
 "noise_suppression": "None",
 "gain_normalizer": false,
 "language": "ru",
 "wake_word": "нокс",
 "active_mode": "main",
 "modes": "[{\"id\": \"main\", \"name\": \"Основной\", \"wake_word\": \"нокс\", \"brain\": \"openai\", \"model\": \"qwen2.5:3b\"}]",
 "brain_enabled": true,
 "tts_enabled": true,
 "vision_enabled": false,
 "brain_backend": "openai",
 "openai_url": "http://127.0.0.1:11434/v1",
 "openai_model": "qwen2.5:3b",
 "ai_models": "[]",
 "tterminal_url": "https://www.tbank.ru/terminal/",
 "tterminal_enabled": true,
 "invest_token": "",
 "wake_word_enabled": true,
 "activation_hotkey": "ctrl_alt_j",
 "api_keys": "",
 "slots_backend": "gliner_multi-v2.1",
 "selected_gliner_model": ""
}